.product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-card {
  width: 250px;
  border: 1px solid #d4af37;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.price {
  color: #d4af37;
  font-size: 18px;
}

.product-card button,
.checkout button,
.checkout-btn {
  background: #2e0707;
  color: #d4af37;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.checkout {
  max-width: 400px;
  margin: auto;
  padding: 50px;
}
