* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --maroon: #4b0f0f;
  --dark: #2e0707;
  --gold: #d4af37;
}

body {
  background: #fff;
  color: var(--maroon);
}

/* NAVBAR */
.navbar {
  background: var(--dark);
  color: var(--gold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  color: var(--gold);
  text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  height: 70vh;
  background: linear-gradient(rgba(46,7,7,.85),rgba(46,7,7,.85)),
  url("https://images.unsplash.com/photo-1521334884684-d80222895322");
  background-size: cover;
  background-position: center;
  color: var(--gold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.subtitle {
  margin-top: 10px;
  color: #7a3b3b;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  border: 2px solid var(--gold);
  padding: 22px 40px;
  border-radius: 40px;
  text-decoration: none;
  color: var(--maroon);
}

.card:hover {
  background: var(--gold);
  color: var(--dark);
}

/* CONTACT */
.contact-box {
  max-width: 500px;
  margin: auto;
}

.email {
  background: #f4f4f4;
  padding: 15px;
  margin: 20px 0;
}

.gmail-btn {
  display: inline-block;
  background: var(--dark);
  color: var(--gold);
  padding: 14px 25px;
  border-radius: 8px;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: var(--dark);
  color: var(--gold);
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
