* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fff;
  color: #222;
}

/* NAVBAR */
.navbar {
  background: #4b0f0f;
  color: #f5c26b;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar a {
  color: #f5c26b;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

.navbar a.active,
.navbar a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  padding: 90px 60px;
  background: #fff;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #555;
}

.btn {
  background: #4b0f0f;
  color: #f5c26b;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 4px;
}

/* CATEGORIES */
.categories {
  padding: 60px;
}

.categories h2 {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 25px;
}

.card {
  flex: 1;
  border: 1px solid #f5c26b;
  padding: 40px;
  border-radius: 10px;
}

.card a,
.card span {
  color: #4b0f0f;
  font-weight: 500;
}

/* PRODUCT PAGE */
.product {
  display: flex;
  gap: 60px;
  padding: 70px;
}

.product img {
  width: 380px;
  border-radius: 12px;
}

.product h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  color: #4b0f0f;
  margin: 15px 0;
}

.buy {
  display: inline-block;
  background: #4b0f0f;
  color: #f5c26b;
  padding: 14px 35px;
  text-decoration: none;
  margin-top: 20px;
}

/* FOOTER */
footer {
  background: #4b0f0f;
  color: #f5c26b;
  text-align: center;
  padding: 18px;
  margin-top: 60px;
}
